.filter-sidebar input[type="checkbox"] {
  padding: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.sort-title{
  font-size: 23px;
  font-weight: bold;
  color:royalblue;
  background-color: aliceblue;
  padding: 8px;
  border-bottom: 2px solid rgb(0, 110, 207);
}
.genre-tile{
  background-color: aliceblue;
  transition: all 0.2s ease;
}
.genre-tile:hover{
  background-color: rgb(0, 113, 183);
  color: white;
}
.label-title{
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}
/* .apply-filter-button{
  width: 60%;
  padding: 10px;
  background-color: rgb(1, 107, 255);
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
} */
.clear-filter-button{
  width: 60%;
  padding: 10px;
  background-color: rgb(236, 236, 236);
  text-align: center;
  justify-content: center;
  justify-self: center;
  color: rgb(255, 1, 1);
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.clear-filter-button:hover{
  transform: scale(1.1);
  color: white;
  background-color: red;
}
/* .apply-filter-button:hover{
  transform: scale(1.1);
  background-color: rgb(0, 89, 255);
} */