.cart-button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  margin-right: 0px;
  font-size: large;
  width: 35px; /* Set the width */
  height: 35px; /* Set the height to match the width */
  justify-content: center; /* Center the icon */
  align-items: center; /* Center the icon */
}

/* Đảm bảo giỏ hàng không bị ảnh hưởng bởi hover của .nav */
.cart-button:hover {
  background-color: #ffffff1a; /* Thay đổi nền khi hover, nếu cần */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng cho nút khi hover */
}

/* Đảm bảo các phần tử khác không bị ảnh hưởng bởi hover */
.nav li:hover .no-hover-bg {
  background-color: transparent !important;
}

.profile-button {
  border: 1px solid white;
  border-radius: 100%;
  background-color: transparent;
  color: white;
  width: 40px;
}
