/* Thêm style cho container mới */
.center-container {
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  min-height: 100vh; /* Đảm bảo container chiếm ít nhất chiều cao của viewport để căn giữa dọc */
  width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng */
  /* Bạn có thể thêm màu nền hoặc style khác cho toàn bộ trang nếu cần */
  /* background-color: #f0f0f0; */
  background-color: #e0f7fa;
}
.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #90caf9 !important;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  background-color: #e0f7fa;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}
