.login-page body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-page .login-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-page .login-form h2 {
  color: #0277bd;
}

.login-page .input-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-page .input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0277bd;
}

.login-page .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #90caf9;
  border-radius: 5px;
}

.login-page .login-button {
  width: 100%;
  padding: 10px;
  background-color: #0277bd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page .login-button:hover {
  background-color: #01579b;
}

.login-page .extra-options {
  margin-top: 10px;
}

.login-page .forgot-password {
  color: #0277bd;
  text-decoration: none;
  font-size: 14px;
}

.login-page .forgot-password:hover {
  text-decoration: underline;
}
