.policy-content {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.policy-heading {
  text-align: center;
}

.policy-heading h4 {
  text-align: center;
  border: 2px solid #007cf8;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: bold;
  color: #007cf8;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}

.policy-content p {
  margin-bottom: 15px;
  text-align: justify;
}
