.book-carousel {
  box-sizing: border-box;
  width: 80%;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.book-card {
  width: 199px;
  height: auto;
  padding: 10px;
  text-align: center;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
}

.book-card img {
  width: 199px;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}

.book-card h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.book-card p {
  font-size: 1em;
  color: #555;
}
