/* ChatWindow.css */

.chat-window {
  position: fixed;
  bottom: 50px !important; /* Đặt vị trí dưới cùng */
  right: 0px !important; /* Đặt vị trí bên phải */
  width: 300px; /* Điều chỉnh chiều rộng nếu cần */
  height: 400px; /* Điều chỉnh chiều cao nếu cần */
  background-color: white !important; /* Màu nền đỏ */
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chat-window.closed {
  display: none;
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
