.audio-player-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.close-audio-button {
  position: absolute;
  top: 15px;
  right: -20px;
  background: #0171f9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-audio-button:hover {
  background: #cc0000;
}
